a {
  text-decoration: none;
}

.bizinfo {
  background-color: #0E1831;
}

.a-first-section {
  padding: 1rem;
  background: white;
  position: relative;
  top: 200px;
}
.a-first-section .a-search-section {
  position: relative;
  top: -200px;
  border-radius: 0px;
  padding: 5rem 20rem;
  background-size: cover;
  padding-top: 5rem;
  text-align: left;
}
.a-first-section .a-search-section .special-color {
  color: #F6DB02;
}
.a-first-section .a-search-section form {
  display: none !important;
  margin: 0px;
  margin-top: 30px;
  width: 100%;
}
.a-first-section .a-search-section form button {
  background-color: none !important;
  color: #8E6E53 !important;
  border: 0px;
}

#listingsHome {
  position: relative;
}
#listingsHome #restOfPage .featured_businesses-carouselle {
  background: #232939;
}
#listingsHome #restOfPage .featured_businesses-carouselle p.title-sm {
  display: block;
  padding-left: 5rem;
  text-align: left;
  color: white !important;
}
#listingsHome #restOfPage .featured_businesses-carouselle h2.title_3 {
  color: white !important;
  padding-left: 5rem;
  text-align: left;
}
#listingsHome #restOfPage .featured_businesses-carouselle #myCarousel #featuredCustomerList .carousel-item {
  left: 1rem;
}
#listingsHome #restOfPage .featured_businesses-carouselle #myCarousel #featuredCustomerList .carousel-item .pe-md-4 {
  border-radius: 10px;
  color: white !important;
  margin-bottom: 10px;
  width: 33.3333333333%;
  padding: 0px;
}
#listingsHome #restOfPage .featured_businesses-carouselle #myCarousel #featuredCustomerList .carousel-item .pe-md-4 .featuredDiv {
  background: white;
  padding: 20px;
  min-height: 240px;
  border-radius: 10px;
  color: black;
}
#listingsHome #restOfPage .featured_businesses-carouselle #myCarousel #featuredCustomerList .carousel-item .pe-md-4 .featuredDiv a {
  color: black;
  text-decoration: none;
}
#listingsHome #restOfPage .featured_businesses-carouselle #myCarousel #featuredCustomerList .carousel-item .pe-md-4 .featuredDiv a .b_logo {
  text-align: center;
}
#listingsHome #restOfPage .featured_businesses-carouselle #myCarousel #featuredCustomerList .carousel-item .pe-md-4 .featuredDiv a .b_logo img {
  width: 85px;
  height: 85px;
  border-radius: 100px;
  margin-bottom: 10px;
}
#listingsHome #restOfPage .featured_businesses-carouselle #myCarousel #featuredCustomerList .carousel-item .pe-md-4 .featuredDiv a .b_logo .title_2 {
  font-size: 1rem;
}
#listingsHome #restOfPage .categories_section {
  background-color: white;
}
#listingsHome #restOfPage .categories_section .container .categories_bg .a-category {
  padding-top: 5rem;
}
#listingsHome #restOfPage .categories_section .container .categories_bg .a-category > div:first-child {
  width: 100%;
}
#listingsHome #restOfPage .categories_section .container .categories_bg .a-category > div:first-child .title-sm {
  text-align: center;
  display: block;
  color: #000000 !important;
}
#listingsHome #restOfPage .categories_section .container .categories_bg .a-category > div:first-child .title-bg {
  color: #000000 !important;
  text-align: center;
  padding-bottom: 20px;
}
#listingsHome #restOfPage .categories_section .container .categories_bg .a-category #mainCategories {
  width: 100%;
}
#listingsHome #restOfPage .categories_section .container .categories_bg .a-category #mainCategories ul {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
#listingsHome #restOfPage .categories_section .container .categories_bg .a-category #mainCategories ul .c_text a {
  padding: 0px 12px 0px;
  display: inline-table;
  border-radius: 50px;
  width: 100%;
}
#listingsHome #restOfPage .categories_section .container .categories_bg .a-category #mainCategories ul .c_text a:hover {
  background: #0D65A2;
  color: white;
}
#listingsHome #restOfPage #recentAddBusiness {
  padding-top: 2rem;
  background-color: #0D68A7;
}
#listingsHome #restOfPage #recentAddBusiness .container .title-sm {
  color: #fff;
  display: block;
  text-align: left;
}
#listingsHome #restOfPage #recentAddBusiness .container .title-bg {
  padding-bottom: 20px;
  text-align: left;
  color: #fff;
}
#listingsHome #restOfPage #recentAddBusiness .container .mainCustomerDiv {
  background: white;
  padding: 20px;
  min-height: 200px;
  border-radius: 5px;
  padding-top: 5rem;
  color: black;
}
#listingsHome #restOfPage #recentAddBusiness .container .mainCustomerDiv a {
  color: black;
  text-decoration: none;
}
#listingsHome #restOfPage #recentAddBusiness .container .mainCustomerDiv a .b_logo {
  text-align: center;
  padding: 0px;
}
#listingsHome #restOfPage #recentAddBusiness .container .mainCustomerDiv a .b_logo img {
  width: 85px;
  height: 85px;
  border-radius: 100px;
  margin-bottom: 10px;
}
#listingsHome #restOfPage #recentAddBusiness .container .mainCustomerDiv a .b_logo .title_2 {
  font-size: 20px;
  font-weight: bolder;
  height: 40px;
}
#listingsHome #restOfPage #recentAddBusiness .container .mainCustomerDiv a .b_logo .big_pra {
  display: none;
}

#listingsBusiness {
  background: black;
}
#listingsBusiness .sub_header_2 {
  position: relative;
  top: 200px;
  background-color: aliceblue;
}
#listingsBusiness .sub_header_2 .a-search-section {
  position: relative;
  top: -200px;
  background-size: cover;
  border-radius: 0px;
}
#listingsBusiness .sub_header_2 .a-search-section .categoryDiv .homeLink.text-left {
  color: white;
}
#listingsBusiness .sub_header_2 .a-search-section .categoryDiv .homeLink.text-left .category-item {
  color: #F6DB02;
}
#listingsBusiness .business_name {
  padding: 20px;
}
#listingsBusiness .business_name .container {
  max-width: 2000px;
}
#listingsBusiness .business_name #catCustomerList .col-md-4.pe-md-4 {
  border-radius: 10px;
  color: white !important;
  margin-bottom: 10px;
  padding: 5px;
  width: 50% !important;
  padding-right: 5px !important;
}
#listingsBusiness .business_name #catCustomerList .col-md-4.pe-md-4 .CustomerListDiv {
  background: white;
  padding: 20px;
  min-height: 130px;
  border-radius: 10px;
  height: 130px;
  color: black;
}
#listingsBusiness .business_name #catCustomerList .col-md-4.pe-md-4 .CustomerListDiv a {
  color: black;
  text-decoration: none;
}
#listingsBusiness .business_name #catCustomerList .col-md-4.pe-md-4 .CustomerListDiv a .bus_box {
  text-align: left;
  flex-direction: row;
}
#listingsBusiness .business_name #catCustomerList .col-md-4.pe-md-4 .CustomerListDiv a .bus_box .bus_logo img {
  width: 85px;
  height: 85px;
  border-radius: 100px;
  margin-bottom: 10px;
}
#listingsBusiness .business_name #catCustomerList .col-md-4.pe-md-4 .CustomerListDiv a .bus_box .bus_text {
  padding: 1rem;
}
#listingsBusiness .business_name #catCustomerList .col-md-4.pe-md-4 .CustomerListDiv a .bus_box .bus_text .first_t h4 {
  font-size: 12px;
}
#listingsBusiness .business_name #catCustomerList .col-md-4.pe-md-4 .CustomerListDiv a .bus_box .bus_text .first_t p.pas {
  font-weight: bolder;
}
#listingsBusiness .business_name #catCustomerList .col-md-4.pe-md-4 .CustomerListDiv a .bus_box .bus_text .sec_t {
  display: block;
  position: relative;
  top: -1rem;
}
#listingsBusiness .business_name #catCustomerList .col-md-4.pe-md-4 .CustomerListDiv a .bus_box .bus_text .sec_t p.a-domain {
  color: #5A80DE;
}

#listingsBusiness .sub_header_2 .a-search-section.relative.grid-sys {
  display: flex;
  flex-direction: row;
  background-size: cover;
  height: 530px;
  border-radius: 0px;
}
#listingsBusiness .sub_header_2 .a-search-section.relative.grid-sys:first-child > div:first-child {
  width: 65%;
  text-align: left;
  padding-top: 100px;
}
#listingsBusiness .sub_header_2 .a-search-section.relative.grid-sys:first-child > div:first-child h1#bizTitle {
  margin-left: 10px;
  padding-left: 0px;
}
#listingsBusiness .sub_header_2 .a-search-section.relative.grid-sys:first-child > div:first-child .categoryDiv.mt-0 {
  margin-top: 50px !important;
  margin-left: 10px;
}
#listingsBusiness .sub_header_2 .a-search-section.relative.grid-sys:first-child > div:first-child .categoryDiv.mt-0 .homeLink {
  color: white !important;
}
#listingsBusiness .sub_header_2 .a-search-section.relative.grid-sys:first-child > div:first-child .categoryDiv.mt-0 .category-item {
  color: white !important;
  font-family: Merriweather;
}
#listingsBusiness .sub_header_2 .a-search-section.relative.grid-sys .m-auto {
  display: none;
  margin-right: 0px !important;
}
#listingsBusiness .sub_header_2 .a-search-section.relative.grid-sys .m-auto img.bizLogo {
  display: none;
}
#listingsBusiness .business_name_section_a {
  background-color: aliceblue;
}
#listingsBusiness .business_name_section_a .container {
  border-radius: 0px;
  position: relative;
  top: -150px;
  max-width: 960px;
}
#listingsBusiness .business_name_section_a .container .row {
  display: flex;
}
#listingsBusiness .business_name_section_a .container .row .business_text.bizDesc-right {
  display: block;
}
#listingsBusiness .business_name_section_a .container .row .m-auto.right-image {
  display: block;
}
#listingsBusiness .business_name_section_a .container .row .m-auto.right-image img {
  margin: 3rem;
  border-radius: 300px;
}
#listingsBusiness .business_name_section_a .container .row :first-child.business_content b {
  font-weight: 500 !important;
}
#listingsBusiness .business_name_section_a .container .row :first-child.business_content .catName, #listingsBusiness .business_name_section_a .container .row :first-child.business_content .bizName, #listingsBusiness .business_name_section_a .container .row :first-child.business_content #keywords > a, #listingsBusiness .business_name_section_a .container .row :first-child.business_content #bizUrl, #listingsBusiness .business_name_section_a .container .row :first-child.business_content #bizAddress, #listingsBusiness .business_name_section_a .container .row :first-child.business_content #bizPhone, #listingsBusiness .business_name_section_a .container .row :first-child.business_content .bizDesc {
  color: black;
  font-weight: bolder;
}
#listingsBusiness .business_name_section_a .container .row :first-child.business_content .bizDesc-left {
  display: none;
}
#listingsBusiness .business_name_section_a .container .row .col-md-6:nth-child(2) {
  display: flex;
  flex-direction: column-reverse;
}/*# sourceMappingURL=style.css.map */